@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-1 {
    animation-delay: 0.2s;
  }
  .animation-delay-2 {
    animation-delay: 0.4s;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

:root {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}

.card-glow-border {
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image:
    linear-gradient(#0a0a0a, #0a0a0a),
      radial-gradient(
        180px circle at var(--mouse-x) var(--mouse-y),
        #ffffffaa,
        #7722dd44,
        transparent 80%
      ); 
}
